{{ partial "header.html" .}}


<div class="container">
  <div class="row">
    <article class="col-md-9 post-full">
      {{ partial "breadcrumb.html" . }}
      <header>
        <h1>{{ title .Title }}</h1>
        
        <section class="post-meta d-flex justify-content-between">
          {{ if isset .Params "blog/categories" }}
          <div class="post-meta-category">
              {{ $tax := index .Params "blog/categories" }}
              {{ range $tax }}
                <a href="{{ delimit (slice "/blog/categories/" (urlize .) $.Site.Params.ugly) "" | relURL }}">{{ . }}</a>
              {{ end }}
          </div>
          {{ end }}
          <div class="post-meta-date">
              Published <time datetime="{{ dateFormat .Site.Params.DateForm .Date }}">
              {{ dateFormat .Site.Params.DateForm .Date }}</time>
          </div>
        </section>
      </header>
      <section>
        {{ .Content }}
          <a class="btn btn-primary btn-sm" href="/blog/"><span class="fa fa-arrow-left"></span> Back</a>
      </section>
    </article>
    <div class="col-md-3">
        {{ partial "latest_blog_posts.html" . }}
        {{ partial "blog_categories.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" .}}
