{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" false }}

<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 {{ if .Scratch.Get "sidemenu" }}col-md-10 col-sm-9{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ title .Title }}</h1>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="nav ">
						{{ range .Paginator.Pages }}
						<li>
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</li>
						{{ end }}
						{{ template "_internal/pagination.html" . }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
